body {
    width: 1024px;
    margin: 0px auto;
    font-family: 'Big Shoulders Display', cursive;
}

.logo {
    width: 32px;
    height: 32px;
}

a .logo {
    margin: 10px 10px;
}

a:link img{
    filter: grayscale(1);
}

a:hover img{
    filter: grayscale(0);
}

::selection {
    color: white;
    background-color: black;
}

a {
    font-size: 28px;
    text-decoration: none;
}

.avatar {
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

header {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

h1 {
    display: flex;
    justify-content: center;
    letter-spacing: 20px;
}

.header-links {
    display: flex;
    justify-content: space-between;
}

a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.education__header {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px 0 15px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

.swiper-container {
    box-sizing: border-box;
    max-width: 1024px;
    padding: 0px 42px;
    margin: 10px auto;  
    border: 2px solid #000;
    background-color: #fff;
}
  
.swiper-top_panel,
.swiper-bottom_panel {
    display: none;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    height: 62px;
    width: 100%;
    left: 0;
    top: 0px;
    padding: 10px 40px;
}
  
.swiper-bottom_panel {
    justify-content: center;
    top: auto;
}
  
.swiper-button {  
    display: block;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
  
.swiper-button:focus {
    outline: 0;
}
  
.swiper-button:active {
    box-shadow: none;
}
  
.swiper-button-prev {
    background-image: url("../assets/arrow_left.svg");
}
  
.swiper-button-next {
    background-image: url("../assets/arrow_right.svg");
}
  
.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    position: relative;
    background: #fff;
}
  
.card-description {
    box-sizing: border-box;
    width: 50%;
    height: 280px;
    padding: 10px 20px;
}
  
.card-button {
    font-size: 14px;
    display: inline-block;
    border-radius: 2px;
    padding: 12px 35px 12px 20px;
    margin: 5px 5px 20px 10px;
    background-color: #fff;
    text-align: left;
    font-weight: lighter;
    background-image: url("../assets/arrow_right.svg");
    background-repeat: no-repeat;
    background-position: right center;
}
  
.card-button:focus {
    outline: none;
}
  
.card-image {
    width: 50%;
    height: 320px;
    background-size: cover;
}
  
.card-image a {
    display: block;
    width: 100%;
    height: 100%;
}
  
.card-image--project1 {
    background-image: url("../assets/project1.png");
}
  
.card-image--project2 {
    background-image: url("../assets/project2.png");
}